<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/public/source/source.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" rel="stylesheet" href="/public/styles/internsliststyles.css" />
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="float-panel.js"></script>
    <script src="https://smtpjs.com/v3/smtp.js"></script>
</head>

<body>
    <div class="main" id="blur">
        <header>
            <nav>
                <ul>
                    <br>
                    <li>
                        <div class="logo">
                            <img src="/public/images/listerlogo.png" width="300" height="70" />
                        </div>
                    </li>
                    &emsp; &emsp; &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                    &emsp; &emsp;&emsp; &emsp;&emsp; &emsp;&emsp;&emsp; &emsp;
                    &emsp; &emsp;&emsp; &emsp;&emsp; &emsp;&emsp;&emsp; &emsp;
                    &emsp; &emsp;&emsp; &emsp;&emsp; &emsp;&emsp;&emsp; &emsp;
                    &emsp; &emsp;&emsp; &emsp;&emsp; &emsp;&emsp;&emsp; &emsp;
                    <br><br>
                    <li>
                        &emsp; &emsp;&emsp; &emsp;&emsp; &emsp;&emsp;&emsp; &emsp;
                        &emsp; &emsp;&emsp; &emsp;&emsp; &emsp;&emsp;&emsp; &emsp;
                        &emsp; &emsp; &emsp;&emsp; &emsp;&emsp; &emsp;&emsp;&emsp; &emsp;
                        <a href="/Listofinterns">List</a>
                    </li>

                    <li>
                        <!-- <a onclick=history.back()>Go back</a> -->
                        <a href="/redirect">Go back to Profile</a>
                        <!-- <a onclick=history.back()>Go back to my profile</a> -->
                </ul>
            </nav>
        </header>

        <div class="heading">
            <div class="title">
                <h2>List of Current Interns</h2>
                <!-- Search&nbsp;&nbsp;<input type="search" style="width: 300px;height: 50px;"> -->

                <div id="searchbox">
                    <form action="/fetchresult" method="post">
                        <image src="/public/images/srch.png" id="ic"></image>
                        <input type="search" placeholder="Search based on skills" class="ipt" id="selement"
                            name="selement" value="">
                    </form>
                </div>
            </div>
            <br><br><br>
        </div>
        <br><br><br><br><br><br><br><br>
        <div class="interns">
            <% for(var i=0;i<interns.length;i++){ %>
                <div class="card slideanim" style="position: sticky;">
                    <img src="/public/images/men.png" alt="Avatar"
                        style="width:112%;border-radius: 20%;border-bottom-left-radius:0;border-bottom-right-radius:0;margin-top: -10px;margin-left: -10px;">
                    <div class="cardcontainer">
                        <h4 id="name">
                            <%= interns[i].Name %>
                        </h4>
                        <p>
                            <%= interns[i].Domain %>
                        </p>
                        <div class="notifybtn">
                            <!-- <button onclick="msgform(<%= interns[i] %>);"
                                style="background-color:orange;color: white;margin-left: -2%;padding: 1px;border-radius: 10%;">NOMINATE</button> -->
                            <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#mailform">
                                Nominate
                            </button> -->
                            <button onclick="msgform(<%= interns[i] %>);" class="btn btn-primary"
                                style="width: 80px;">Nominate</button>
                            &nbsp;
                            <!-- <button onclick="openForm(<%= interns[i] %>)" class="btn btn-secondary"
                                style="background-color:cadetblue;color: white;float: right;padding: 1px;border-radius: 10%;">Profile</button> -->
                            <button onclick="openForm(<%= interns[i] %>)" class="btn btn-secondary"
                                style="background-color:cadetblue;color: white;">Profile</button>
                        </div>

                    </div>
                </div>
                <% } %>
        </div>
    </div>

    <div class="block" id="myForm" style="font-family: Verdana, Geneva, Tahoma, sans-serif;">
        <div class="userimage">
            <image src="/public/images/user.jpg" width="300" height="300"></image>
            <p class="mail" id="mailid">&nbsp;</p>
        </div>
        <div class="details" style="font-family: Verdana, Geneva, Tahoma, sans-serif;">
            <strong>
                <h1>
                    <p id="uname"></p>
                </h1>
            </strong></p>
            <p id="id"></p>
            <p id="about"></p>
            <p><b>skills : </b></p>
            <p id="skills"></p>
            <br>
            <button type="button" class="btn cancel" onclick="closeForm()"
                style="color: white;font-size: 15px;">Close</button>
        </div>
    </div>

    <form action="/storecourse" method="POST">
        <div class="modal" id="mailform" style="display: none;" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel" style="font-weight: bold;">Nominate</h5>
                        <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button> -->
                    </div>
                    <div class="modal-body">
                        <div class="course">
                            Course Title<input type="text" class="form-control" placeholder="Enter the course title/URL"
                                style="width: 250px;height: 30px;" id="course" name="course">
                        </div>
                        <br><br><br>
                        <br>
                        <div class="duration">
                            Duration<input type="number" class="form-control"
                                placeholder="Enter the duration(in months)" style="width: 250px;height: 30px;"
                                id="duration" name="duration">
                        </div>
                        <br><br>
                        <div class="tomail">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                            <input type="text" id="tomail" name="mail" style="display: none;"></input>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" value="Post Message" class="btn btn-primary">
                        <button type="button" width="30px" class="btn btn-secondary" onclick="closeMsgForm()">
                            Close
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="mailblock" id="mailform" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true" style="display: none;">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel" style="font-weight: bold;">Nominate</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="course">
                            Course Title :&nbsp;<input type="text" placeholder="Enter the course title/URL"
                                style="width: 250px;height: 30px;" id="course" name="course">
                        </div>
                        <div class="duration">
                            Duration :&nbsp;<input type="number" placeholder="Enter the maximum duration (in months)"
                                style="width: 250px;height: 30px;" id="duration" name="duration">
                        </div>
                        <div class="tomail">
                            <input type="text" id="tomail" name="mail" style="display: none;"></input>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" value="Post Message" class="btn post" style="height: 60px;">
                        <button type="button" width="30px" class="close" onclick="closeMsgForm()">
                            <h3>Close</h3>
                        </button>
                    </div>
                </div>
            </div>
        </div> -->

        <!-- <div class="modal fade" id="mailform" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true" onload="msgform(<%= interns[i] %>)">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel" style="font-weight: bold;">Nominate</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="course">
                            Course Title :&nbsp;&nbsp;<input type="text" placeholder="Enter the course title/URL"
                                style="width: 250px;height: 30px;" id="course" name="course">
                        </div>
                        <br><br>
                        <div class="duration">
                            Duration &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;<input type="number"
                                placeholder="Enter the maximum duration (in months)" style="width: 250px;height: 30px;"
                                id="duration" name="duration">
                        </div>
                        <div class="tomail">
                            <input type="text" id="tomail" name="mail" style="display: none;"></input>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <input type="submit" value="Post Message" class="btn btn-primary" style="height: 30px;">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div> -->
    </form>


    <script>
        var searchbox = document.getElementById("searchbox");
        var ic = document.getElementById("ic");

        ic.onclick = function () {
            searchbox.classList.toggle("act");
        }
    </script>
    <!-- <script>
        $('#mailform').on('show.bs.modal', () => {
            msgform(<%= interns[i] %>);
        });
    </script> -->
</body>

</html>