<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/public/source/source.js"></script>
    <script src="/src/database/interns.js"></script>
    <link type=" text/css" rel="stylesheet" href="/public/styles/profilestyles.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://smtpjs.com/v3/smtp.js"></script>
</head>

<body>
    <header>
        <nav>
            <ul>
                <br><br>
                <li>
                    <div class="logo">
                        <img src="/public/images/listerlogo.png" width="300" height="70" />
                    </div>
                </li>
                &emsp; &emsp; &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                &emsp; &emsp;&emsp; &emsp;&emsp; &emsp;&emsp;&emsp; &emsp;
                &emsp; &emsp;&emsp; &emsp;&emsp; &emsp;&emsp;&emsp; &emsp;
                &emsp; &emsp;&emsp; &emsp;&emsp; &emsp;&emsp;&emsp; &emsp;
                &emsp; &emsp;&emsp; &emsp;&emsp; &emsp;&emsp;&emsp; &emsp;
                <br><br>
                &emsp; &emsp;&emsp; &emsp;&emsp; &emsp;&emsp;&emsp; &emsp;
                &emsp; &emsp;&emsp; &emsp;&emsp; &emsp;&emsp;&emsp; &emsp;
                <li>
                    <div class="dropdown">
                        <button class="dropbtn">Interns</button>
                        <div class="dropdown-content">
                            <a href="/Listofinterns">List</a>
                            <a href="#aboutintern">About Internship</a>
                        </div>
                    </div>
                </li>
                <li>
                    &emsp; &emsp;&emsp; &emsp;
                    <a href="#contact"> Contact </a>
                </li>
                <li>
                    &emsp; &emsp;&emsp; &emsp;
                    <a href="/logout"> Log out </a>
                </li>
            </ul>
        </nav>
    </header>


    <div class="totalcontainer">
        <br><br><br><br>
        <div>
            <div class="row">
                <div class="brief" style="width: 370px;">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            <image src="/public/images/user.jpg" alt="Admin" width="200px" height="200px"
                                style="border-radius: 20%"></image>
                            <!-- <img class="rounded-circle" src="https://bootdey.com/img/Content/avatar/avatar7.png"
                                alt="Admin" width="150"> -->
                            <h1><strong>
                                    <p id="uname">
                                        <%= details["Name"] %>
                                    </p>
                                </strong></h1>

                            <div class="domain">
                                <h2><strong>
                                        <p id="domain">
                                            <%= details["Domain"] %>
                                        </p>
                                    </strong></h2>
                                </centre>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-8" style="margin-left: 130px;">
                <div class="brief mb-3">
                    <div class="card-body">
                        <div>
                            <div style="font-weight: bold;" class="col-sm-3">
                                EMPLOYEE ID
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:
                            </div>
                            <div>
                                <%= details["_id"] %>
                            </div>
                        </div>
                        <hr>
                        <div>
                            <div style="font-weight: bold;" class="col-sm-3">
                                EMPLOYEE MAIL ID&nbsp;&nbsp;&nbsp;&nbsp; :
                            </div>
                            <div>
                                <%= details["Mail"] %>
                            </div>
                        </div>
                        <hr>
                        <div>
                            <div style="font-weight: bold;" class="col-sm-3">
                                DESCRIPTION
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:
                            </div>
                            <div>
                                <%=details["Description"] %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br><br><br><br>

        <div style="width: 356px;margin-top: 23%;margin-left: 39px;box-shadow: 0 0 10px 0 black;  ">
            <ul class="list" style="margin-left: -15.1%;">
                <li class="list-group-item">
                    <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                            fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round"
                            stroke-linejoin="round" class="feather feather-github mr-2 icon-inline">
                            <path
                                d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22">
                            </path>
                        </svg>Github<span style="float: right;">github.com</span></h6>
                </li>
                <li class="list-group-item">
                    <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                            fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round"
                            stroke-linejoin="round" class="feather feather-twitter mr-2 icon-inline text-info">
                            <path
                                d="M23 3a10.9 10.9 0 0 1-3.14 1.53 4.48 4.48 0 0 0-7.86 3v1A10.66 10.66 0 0 1 3 4s-4 9 5 13a11.64 11.64 0 0 1-7 2c9 5 20 0 20-11.5a4.5 4.5 0 0 0-.08-.83A7.72 7.72 0 0 0 23 3z">
                            </path>
                        </svg>Twitter<span style="float: right;">@sample</span></h6>

                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                            fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round"
                            stroke-linejoin="round" class="feather feather-instagram mr-2 icon-inline text-danger">
                            <rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect>
                            <path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path>
                            <line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line>
                        </svg>Instagram <span style="float: right;">@sample</span></h6>

                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                            fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round"
                            stroke-linejoin="round" class="feather feather-facebook mr-2 icon-inline text-primary">
                            <path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"></path>
                        </svg>Facebook<span style="float: right;">sample</span></h6>
                </li>
            </ul>
        </div>



        <div class="col-sm-6 mb-3">
            <div class="brief h-100" style="margin-left: 550px;width:1008px;margin-top:-420px;">
                <div class="card-body">
                    <div class="heading"><strong>
                            <h3>SKILLS</h3>
                        </strong>
                        <!-- <button onclick="change()"
                            style="float: right; margin-top: -5%;margin-right: 3%;padding: 7px;color: black;"><strong>
                                Edit skills</strong></button> -->
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#updateskill"
                            style="background-color:white;float: right; margin-top: -5%;margin-right: 3%;padding: 7px;color: black;"><strong>
                                Edit skills</strong></button>
                    </div>
                    <br><br>
                    <h4><strong>
                            <%=details["Skills"]["0"] %>
                        </strong>
                    </h4>
                    <div class="progress mb-3" style="height: 5px">
                        <div class="progress-bar bg-primary" role="progressbar" style="width: 80%" aria-valuenow="80"
                            aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <h4><strong>
                            <%=details["Skills"]["1"] %>
                        </strong>
                    </h4>
                    <div class="progress mb-3" style="height: 5px">
                        <div class="progress-bar bg-primary" role="progressbar" style="width: 60%" aria-valuenow="80"
                            aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <h4>
                        <strong>
                            <%=details["Skills"]["2"] %>
                        </strong>
                    </h4>
                    <div class="progress mb-3" style="height: 5px">
                        <div class="progress-bar bg-primary" role="progressbar" style="width: 70%" aria-valuenow="80"
                            aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <h4>
                        <strong>
                            <%=details["Skills"]["3"] %>
                        </strong>
                    </h4>
                    <div class="progress mb-3" style="height: 5px">
                        <div class="progress-bar bg-primary" role="progressbar" style="width: 90%" aria-valuenow="80"
                            aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <h4>
                        <strong>
                            <%=details["Skills"]["4"] %>
                        </strong>
                    </h4>
                    <div class="progress mb-3" style="height: 5px">
                        <div class="progress-bar bg-primary" role="progressbar" style="width: 70%" aria-valuenow="80"
                            aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>
        </div>





        <% if(details["Course"]!="NA" ){ %>
            <div class="col-sm-6 mb-3">
                <div class="brief h-100" style="width:1000px;margin-left: -33%;margin-top: 100px;">
                    <div class="card-body">
                        <div class="heading" style="text-align: center;"><strong>
                                <h3>Notification</h3>
                            </strong></div>
                        <div>
                            <br>
                            &nbsp;&nbsp;&nbsp;You have been assigned to complete a course : <%= details["Course"]%>.
                        </div>
                        <br><br>
                        <% if(details["Coursestatus"]=="Accepted" || details["Coursestatus"]=="Completed" ){ %>

                            <!-- <div>
                                <button onclick="complete()"
                                    style="background-color: green;margin-left: 50px;height: 50px;width: 100px;">Completed</button>
                            </div> -->
                            <button type="button" class="btn btn-primary" data-toggle="modal"
                                data-target="#coursecomplete">
                                Completed
                            </button>
                            <% } else { %>
                                <form action="/update?status=Accepted" method="POST">
                                    <input type="submit" value="Accept" id="Accept" class="btn btn-primary" />
                                </form>
                                <%}%>

                                    <br><br>

                    </div>
                </div>
            </div>
            <%}%>


                <!-- 
                <div class="coursecomplete" id="coursecomplete"
                    style="font-family: Verdana, Geneva, Tahoma, sans-serif;display: none;">
                    <br><br>
                    <div class="coursetitle">
                        <h5> Course Certificate :&nbsp;<input type="file" placeholder="Upload the course Certificate"
                                style="width: 250px;height: 90px;" id="course" accept=".pdf" required name="course">
                        </h5>
                    </div>
                    <button type="button" value="Post Message" class="btn post" style="height: 60px;"
                        onclick="postcompletionmail(<%=details%>)">
                        <h4>Done</h4>
                    </button>
                    <button type="button" width="30px" class="close" onclick="clsForm()">
                        <h4>Close</h4>
                    </button>
                </div> -->

                <div class="modal fade" tabindex="-1" role="dialog" id="coursecomplete"
                    aria-labelledby="coursecompletemodal" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="coursecompletemodal" style="font-weight: bold;">
                                    Certificate Upload</h5>

                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <h5> Course Certificate :&nbsp;<input type="file"
                                        placeholder="Upload the course Certificate" style="width: 250px;height: 90px;"
                                        id="course" accept=".pdf" required name="course">
                                </h5>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" value="Post Message" class="btn post"
                                    onclick="postcompletionmail(<%=details%>)">
                                    Done
                                </button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="coursecompletemodal"
                    aria-hidden="true" id="updateskill">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="coursecompletemodal" style="font-weight: bold;">
                                    Update Skills</h5>

                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form action="/changeskills" method="POST">

                                    <strong>Skills :&nbsp;&nbsp;</strong><input type="text" name="newskills"
                                        id="newskills" placeholder="Enter yout new skills to update"
                                        style="width: 300px;height: 20px;padding: 15px;" />
                                    &nbsp;&nbsp;
                                    <input type="submit" value="Update" class="btn btn-primary" />
                                    &nbsp;&nbsp;
                                    <input type="button" value="Close" class="btn btn-secondary" data-dismiss="modal">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>



                <br><br><br><br><br><br><br><br><br><br><br><br>
                <br><br><br><br><br><br><br><br><br><br><br><br>
                <br><br><br><br><br><br><br><br><br><br><br><br>
                <div class="aboutintern" id="aboutintern">
                    <br><br><br><br><br><br><br><br><br>
                    <h1>About Internship</h1>
                    <hr size="2px" color="black">
                    <br><br>
                    <p style="font-size: large;">
                        Its a three month internship on full stack web development, which includes
                        general training
                        on
                        JAVA,MySQL,HTML,CSS and Spring frameworsks for the first one month.
                        Then domain based training will be continued which focuses on specific tech
                        stacks along
                        with team
                        assignments.
                        Founded in 2000, Lister Technologies brings together Thought Leadership,
                        Technology
                        Expertise and
                        Execution Excellence to deliver value to customers. We are industry experts
                        in
                        offering
                        solutions
                        around
                        Digital CX space.
                        <br><br>
                        Lister is a company that expects its associates to provide solutions in the
                        most
                        demanding
                        situations.
                        However, Lister's systematic approach to motivate and nurture employees
                        enables
                        them to
                        learn and
                        grow
                        with an opportunity to reach their ambitions. This makes us unique and
                        allows us
                        to provide
                        world-class
                        services to our clients. Skilled professionals with both functional and
                        technical expertise
                        are part
                        of
                        Lister team. Lister's employees have built a performance culture based on
                        independence,
                        simplicity,
                        respect and creativity – enabling Lister to help its clients make progress.
                        <br><br>
                        Lister welcomes and encourages diversity in the workplace. We've been
                        dedicated
                        to meeting
                        the
                        changing
                        needs of our customers and associates since our inception. Lister offers an
                        outstanding
                        experience
                        to
                        people through technology and process innovation.
                    </p>
                </div>
                <br><br><br><br><br><br>
    </div>
    <footer class="footer" id="contact">
        <div class="contact">
            <h1>Contact</h1><br>
            <p>1.800.701.3082</p>
        </div>
        <div class="ids">
            <p><strong>
                    <h1>Follow us on</h1>
                </strong></p><br>
            <image src="/public/images/fb.png" height=70 width=70 onclick="facebook()"></image>
            <image src="/public/images/twt.png" height=60 width=60 onclick="twitter()"></image>
        </div>
    </footer>
    <br><br>
    <centre>
        <p style="color:cadetblue"> Lister Technologies, 2021.
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; All rights
            reserved.
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            Privacy Policy Services
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            Privacy Policy
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            Information
            Security
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            Terms & Conditions &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <br><br><br><br>


</body>


</html>